.DS_Store

# OUTs
/node_modules
/dist

# ENVs
.env
.env.local

# LOGS
*.log*

# IDEs
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# TESTs
/coverage
testing.*
